<div class="booking-page">
  <div class="title-booking">
   <h3> Your order</h3>
  </div>

  <div class="booking-content">
        <%=cl_image_tag @booking.dish.photo, class:"dish-img-booking"%>
    <div class="content-info">
        <h2><strong><%= @booking.dish.name %></strong></h2>
        <p> You can pick up your dish at <strong><%= @booking.user.name %>'s home</strong> </p>
        <p> Address: <strong><%=@booking.user.address%></strong></p>
        <p> You order <strong><%=@booking.quantity%></strong> <%=@booking.dish.name%></p>
        <p>Price(taxes incl.): $<strong><%= @booking.dish.price * @booking.quantity %></strong></p>
    </div>
  </div>
      <div class="content-btn">
          <%= link_to 'ORDER NOW', dishes_path, data: {confirm: "Are you sure?"}, class:"btn-green-booking"%>
          <%= link_to "See all dishes", dishes_path, class:"btn-green-booking" %>
      </div>
</div>
