
 <div class="booking-container">
    <h1> Your order</h1>
        <div class="content-img">
            <h2><%= cl_image_tag @booking.dish.photo%></h2>
        </div>
            <div class="content-info">
                <h2><strong><%= @booking.dish.name %></strong></h2>
                <h3> You can pick up your dish at <strong><%= @booking.user.name %>'s home</strong> </h3>
                <h3> Address: <strong><%=@booking.user.address%></strong></h3>
                <h3> You order <strong><%=@booking.quantity%></strong> <%=@booking.dish.name%></h3>
                <h3>Price(taxes incl.): $<strong><%= @booking.dish.price * @booking.quantity %></strong></h3>
            </div>
                <div class="content-btn">
                    <%= link_to 'ORDER NOW', dishes_path, data: {confirm: "Are you sure?"}, class:"btn-green"%>
                    <%= link_to "See all dishes", dishes_path, class:"btn-green" %>
                </div>
</div>
