
<div class="container">

  <div class="user-profile-header">

    <div class="jumbotron text-center">
      <div class="rating">
        <p>
          <% ((@user.ratings.reduce(0) { |sum, val| val.note + sum } / @user.ratings.count) rescue 0).times do %>
            <i class="fas fa-star" style="color:#fcf5b0;"></i>
          <% end %>
        </p>
        <% if @user != current_user %>
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
          rate <%= @user.name %>
        </button>

        <% end %>
      </div>

      <h1><img class="img-circle" src="<%= @user.photo_url %>" width="100px"><%= @user.name %></h1>


      <div class="info-user"><%= @user.address %>
       <p><%= @user.email %></p>
       <p><strong>World Famous</strong> for cooking: <strong><%= @dishes.last.name %></strong>

  </div>

  <div class="user-profile-grid">

    <div class="user-cooked-dishes-container">
      <h3>My last dishes</h3>
      <% @dishes.each do |dish| %>
        <div><strong><%= dish.name %></strong></div>
        <p><%= dish.description %> (<%= dish.price %> $)</p>
        <%# cl_image_tag dish.photo%>
      <% end %>
        <%= link_to "Add your dish", new_dish_path, class:"btn-green" %>
    </div>

    <div class="user-booked-dishes-container">
      <h3>My last orders</h3>
      <% @booked_dishes.each do |booked_dish| %>
        <div><strong><%= booked_dish.name %></strong></div>
        <p><%= booked_dish.description %> (<%= booked_dish.price %> $)</p>
      <% end %>
        <%= link_to "Make an order", dishes_path, class:"btn-green-user btn-block" %>
    </div>

    <div class="user-actions-container">


    </div>
    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">rate <%= @user.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@user, @rating]) do |t| %>
          <%= t.input :note %>
          <%= t.submit "noter" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

  </div>

</div>


