<div class="navbar-minimalist">
  <h1><%= link_to"NeighborFood", root_path%></h1>

      <div class="nav-container">

        <%= link_to "See all dishes", dishes_path, class:"btn my-btn" %>

        <%= link_to "Become a cooker", new_user_registration_path, class:"btn my-btn" %>

        <%= link_to "Login", new_user_session_path, class:"btn btn-secondary" %>
      </div>
    </div>
</div>


<div class="jumbotron text-center">
  <h1><img class="img-circle" src="<%= @user.photo_url %>" width="100px"><%= @user.name %></h1>
  <div class="info-user"><%= @user.address %>
   <p><%= @user.email %></p>
  </div>
  <!-- <a href="#" class="btn-blue"> Add your dish !</a> -->

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>My last dishes</h3>
      <% @dishes.each do |dish| %>
        <div><strong><%= dish.name %></strong></div>
        <p><%= dish.description %> (<%= dish.price %> $)</p>
        <%# cl_image_tag dish.photo%>
      <% end %>
    </div>
    <div class="col-sm-4">
      <h3>My last orders</h3>
      <% @booked_dishes.each do |booked_dish| %>
        <div><strong><%= booked_dish.name %></strong></div>
        <p><%= booked_dish.description %> (<%= booked_dish.price %> $)</p>
      <% end %>
    </div>

  </div>

  <a><%= link_to "Add your dish", new_dish_path, class:"btn-blue" %></a>
  <a><%= link_to "Make an order", dishes_path, class:"btn-blue" %></a>
</div>
