
<div class="container">

  <div class="user-profile-header">

    <div class="jumbotron text-center">
      <h1><img class="img-circle" src="<%= @user.photo_url %>" width="100px"><%= @user.name %></h1>
      <div class="info-user"><%= @user.address %>
       <p><%= @user.email %></p>
       <p><strong>World Famous</strong> for cooking: <strong><%= @dishes.last.name %></strong>

  </div>

  <div class="user-profile-grid">

    <div class="user-cooked-dishes-container">
      <h3>My last dishes</h3>
      <% @dishes.each do |dish| %>
        <div><strong><%= dish.name %></strong></div>
        <p><%= dish.description %> (<%= dish.price %> $)</p>
        <%# cl_image_tag dish.photo%>
      <% end %>
        <%= link_to "Add your dish", new_dish_path, class:"btn-green" %>
    </div>

    <div class="user-booked-dishes-container">
      <h3>My last orders</h3>
      <% @booked_dishes.each do |booked_dish| %>
        <div><strong><%= booked_dish.name %></strong></div>
        <p><%= booked_dish.description %> (<%= booked_dish.price %> $)</p>
      <% end %>
        <%= link_to "Make an order", dishes_path, class:"btn-green-user btn-block" %>
    </div>

    <div class="user-actions-container">
    </div>

  </div>

</div>
