<div class="navbar-minimalist">
  <h1><%= link_to"NeighborFood", root_path, class:"btn btn-neighborfood"%></h1>

      <div class="nav-container d-flex justify-content-end">
        <%= link_to "See all dishes", dishes_path, class:"btn nb-light" %>
        <%= link_to "Become a cooker", cooker_path, class:"btn nb-light" %>
        <%= link_to "Login", new_user_session_path, class:"btn btn-login" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-login" %>
      </div>
    </div>
</div>


<%= simple_form_for @dish do |f| %>
  <%= f.label 'Edit the name:' %><br>
  <%= f.text_field :name %><br>

  <%= f.label 'Edit the description:' %><br>
  <%= f.text_area :description %><br>

  <%= f.label 'Edit your previous photo:' %><br>
  <%= cl_image_tag @dish.photo, class:"dish-img-edit"%>

  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :photo %>

  <%= f.submit "Edit your dish", class:"btn-green" %>
<% end %>

<div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      </div> <p><i class="fas fa-heart"></i> Cook, Share, Eat <i class="fas fa-heart"></i></p>
  </div>


