<div class="background-index">

  <div class="content">
    <div class="search col col-6">
      <h3>All dishes around you</h3>
        <%= form_tag dishes_path, method: :get, class: "inline-form d-flex my-3" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a dish"
          %>
          <%= submit_tag "Search", class: "btn-login-search" %>
        <% end %>
    </div>



        <div class="position-relative custom-row">
          <div class="card-grid col-sm-6 position-sticky">
            <div class="row" >
              <% @dishes.each do |dish|%>
              <div class="col-sm-12">

                <div class="card-pic border mb-2">
                  <%= cl_image_tag dish.photo, class:"dish-img"%>
                  <div class="card-pic-content">

                    <div class="card-description p-3">
                      <h4><%= link_to dish.name, dish_path(dish) %></h4>
                      <p><%= dish.description %></p>
                      <p><%= dish.price %>$</p>
                    </div>
                    <div class="card-avatar">
                      <%= link_to user_path(dish.user) do %>
                        <% if dish.user.photo_url.nil? %>
                          <img class="img-circle-index" src="https://source.unsplash.com/?portrait">
                        <% else %>
                          <img class="img-circle-index" src="<%= dish.user.photo_url %>">
                        <% end %>
                      <% end %>
                      <h5><%= dish.user.name %></h5>
                    </div>

                  </div>
                </div>

              </div>
              <% end %>
            </div>
          </div>
          <div class="map-card col col-sm-6"
            id="map"
            style="width: 100%;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>"
          ></div>
        </div>
      </div>
  </div>
