<div class="navbar-minimalist">
  <h1><%= link_to"NeighborFood", root_path, class:"btn btn-neighborfood"%></h1>

      <div class="nav-container d-flex justify-content-end">
        <%= link_to "See all dishes", dishes_path, class:"btn nb-light" %>
        <%= link_to "Become a cooker", cooker_path, class:"btn nb-light" %>
        <%= link_to "Login", new_user_session_path, class:"btn btn-login" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-login" %>
      </div>
    </div>
</div>


<div class= "background">
  <%= simple_form_for [@dish] do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :photo %>
    <%= f.hidden_field :user_id%>
    <%= f.submit "add this dish", class:"my_btn" %>
  <% end %>
<%= link_to "See all dishes", dishes_path, class:"my_btn" %>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-fw fa-github"></i></a>
    <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
  </div> <p><i class="fas fa-heart"></i> Cook, Share, Eat <i class="fas fa-heart"></i></p>
</div>
