<div class="navbar-minimalist">
  <h1>NeighborFood</h1>

      <div class="nav-container">

        <%= link_to "See all dishes", dishes_path, class:"btn my-btn" %>

        <%= link_to "Become a cooker", new_user_registration_path, class:"btn my-btn" %>

        <%= link_to "Login", new_user_session_path, class:"btn btn-secondary" %>
      </div>
    </div>
</div>

<div class="content">
  <div class="card-pic">
    <%= cl_image_tag @dish.photo, class:"dish-img-show"%>
    <div class="card-description">
      <h1><%= @dish.name %></h1>
      <ul>
      <li> <%= @dish.price %>$ </li>
      <li> Ingredients <%= @dish.description %> </li>
      <li> Cooked by <%= @dish.user.name %> </li>
      </ul>
    </div>
  </div>
</div>

  <%= simple_form_for [@dish, @booking] do |f| %>
    <%= f.input :date, html5: true %>
    <%= f.input :quantity %>
    <%= f.submit "ORDER HERE", class:"my_btn"%>
  <% end %>

<%= link_to "Edit", edit_dish_path(@dish), class:"my-btn" %>
<%= link_to "Delete this dish", dish_path(@dish), method: :delete, data: {confirm: "Are you sure?"}, class:"my-btn" %>
<%= link_to "See all dishes", dishes_path, class:"my_btn" %>