
<h1><%= @dish.name %></h1>
<ul>
<li> <%= @dish.price %>$ </li>
<li> Ingredients <%= @dish.description %> </li>
<li> Cooked by <%= @dish.user.name %> </li>
<%= cl_image_tag @dish.photo%>
<li><%= link_to "Order this dish", booking_path, class:"my_btn" %></li>
<li> <%= link_to "Edit", edit_dish_path(@dish), class:"my_btn" %></li>
<li> <%= link_to "Delete this dish", dish_path(@dish), method: :delete, data: {confirm: "Are you sure?"}, class:"my_btn" %></li>
</ul>
<%= link_to "See all dishes", dishes_path, class:"my_btn" %>
<%= link_to "ORDER HERE", booking_path, class:"my_btn" %>

