<div class="content">
  <div class="card-pic">
    <%= cl_image_tag @dish.photo, class:"dish-img-show"%>
    <div class="card-description">
      <h1><%= @dish.name %></h1>
      <ul>
      <li> <%= @dish.price %>$ </li>
      <li> Ingredients <%= @dish.description %> </li>
      <li> Cooked by <%= @dish.user.name %> </li>
      <li> <%= link_to "Edit", edit_dish_path(@dish), class:"my-btn" %></li>
      <li> <%= link_to "Delete this dish", dish_path(@dish), method: :delete, data: {confirm: "Are you sure?"}, class:"my-btn" %></li>
      </ul>
    </div>
  </div>
</div>
<%= link_to "See all dishes", dishes_path, class:"my_btn" %>
